.v-custom-timepicker {
  position: relative;
  width: 100%;

  &__input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    text-align: center;
    height: 44px;
    width: 100%;
    color: #717680;
    border: 1px solid #E9EAEB;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    background-color: var(--custom-black);
    
  }

  .night__mode &__input {
    border-color: transparent !important;
  }

  &__dropdown {
    position: absolute;
    z-index: 10;
    margin-top: 0.25rem;
    width: 100%;
    color: #717680;
    font-size: 15px;
    font-family: 'Regular', sans-serif;
    background-color: var(--custom-white);
    border: 1px solid #E9EAEB;
    border-radius: 8px;

    display: flex;
    box-shadow:
      0px 4px 6px -2px #0A0D1208,
      0px 12px 16px -4px #0A0D1214;
  }

  .night__mode &__dropdown {
    border-color: #ffffff14 !important;
  }

  $option-height: 40px; // 3 строки = 120px

  &__separator {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  &__column {
    width: 50%;
    max-height: calc($option-height * 3);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #555;
      border-radius: 4px;
    }
  }

  &__option {
    height: $option-height;
    padding: 0;
    line-height: $option-height;
    text-align: center;
    cursor: pointer;
    scroll-snap-align: center;

    &:hover {
      color: var(--custom-black-text);
    }

    &--selected {
      color: var(--custom-black-text);
      font-weight: 600;
    }
  }
}
