// Стили кастомного радио
.custom-radio-container {
  display: flex;
  .custom-radio {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 8px;

    &:first-child label{
      border-radius: 8px 0 0 8px;
    }
    &:last-child label{
      border-radius: 0 8px 8px 0;
    }

    input[type='radio'] {
      display: none;
    }

    label {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 0 15px;
      line-height: 34px;
      font-size: 16px;
      font-family: 'Inter', sans-serif; // Общий шрифт для логичности
      color: #717680;
      background-color: var(--custom-white);
      user-select: none;

      width: 100%;
      height: 100%;
      transition:
        background-color 0.1s ease-in,
        color 0.1s ease-in;
      @media (hover: hover) {
        &:hover {
          background-color: #F3F4F6;
          color: var(--custom-black-text);

          .night__mode & {
            background-color: rgba($color: #2d313b, $alpha: .4);
          }
        }
      }
    }

    // Состояние: выбранное радио
    input[type='radio']:checked + label {
      background-color: #F3F4F6;
      color: var(--custom-black-text);

      .night__mode & {
        background-color: var(--custom-black);
      }
    }

    // Состояние: отключенное радио
    input[type='radio']:disabled + label {
      background-color: #efefef;
      color: #666;
    }
  }

}
